<div class="contents row">
  <% @indices.each do |index| %>
    <div class="content_post" style="background-image: url(<%= index.image %>);">
      <div class="more">
        <%# <span><%= image_tag 'arrow_top.png' %>
        <ul class="more_list">
          <li>
            <%= link_to '削除', index_path(index.id), method: :delete %>
          </li>
        </ul>
      </div>
      <p><%= index.explanation%></p>
      <span class="name">
        <%= index.name %>
      </span>
    </div>
  <% end %>
</div>