<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">MyDictionary</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            <%= link_to "Add", new_index_path, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "Log in", new_user_session_path, class: "post" %>
            <%= link_to "New face", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
        <%# <div class="user_nav grid-6">
          <a class="post" href="/indices/new">Add</a>
        </div> %>
      </div>
    </header>
    <h4>画像は今のところ保存できない・検索は説明文だけ</h4>
    <%= yield %>
    <footer>
      <h3>
        Copyright MyDictionary
      </h3>
  </body>
</html>
